
<div class="card">
	{% for room in rooms %}
		<div class="card-body shadow">
			{% if request.user == room.host %}
			<a href="{% url 'update-room' room.id %}"><i class="fa fa-pencil"></i></a>
			<a href="{% url 'delete-room' room.id %}"><i class="fa fa-trash"></i></a>
			{% endif %}

			<a href="{% url 'user-profile' room.host.id %}" class="btn btn-outline-success btn-sm">@{{room.host.username}}</a>
			<span class="float-right">{{room.created|timesince}}</span>
			<br>
			<h3><a class="" href="{% url 'room' room.id %}">{{room.name}}</a></h3>
			<hr>
			<div class="row">
				<div class="col-md-3">
					<span>{{room.participants.all.count}} Joined</span>
				</div>
				<div class="col-md-8"><span class="float-right">{{room.topic.name}}</span>
				</div>
			</div>
		</div>
	{% endfor %}
</div>

